
    <section class="py-5">
      <h2 class="text-center mb-5 font-weight-bold">カフェナビの特徴</h2>
      <div class="container">
        <div class="mb-5 row">
          <div class="col-sm-8">
              <h3 class="font-weight-bold">①お好きなカフェの共有</h3>
              <p>お気に入りのカフェがおありですか？
              <br>
              是非とも、カフェナビにご共有ください！
              <br>
              カフェナビは、カフェの総合情報共有サイト。
              
              <br>
              まだまだ知られていないあなたオススメのカフェを、
              <br>
              全国に広めませんか？
              </p>
          </div>
          <div class="col-sm-4">
          <img src="img/phone.png" class="w-100 rounded-circle">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 order-sm-2">
            <h3 class="font-weight-bold">②カフェの検索</h3>
            <p>カフェナビでは、全国のカフェを条件を指定して検索することができます。
            <br>
            たとえば、携帯の充電をしたいとき。
            <br>
            車でお越しで、駐車場が必要なとき...
            <br>
            そんなときカフェナビでは、タグを指定して検索することで、
            <br>
            あなたにあったカフェを検索できます。
            </p>
          </div>
          <div class="col-sm-4 order-sm-1">
            <img src="img/movie.png" class="w-100 rounded-circle">
          </div>
          </div>

      <div class="mb-5 row">
          <div class="col-sm-8">
              <h3 class="font-weight-bold">③ユーザー間での交流</h3>
              <p>あなたオススメのカフェについて、
              <br>
              他のユーザーとも意見を共有したいですか？
              <br>
              カフェナビでは、あなたのレビューを見た他のユーザーが
              <br>
              あなたのレビューにコメントを付けることができる機能を搭載。
              <br>
              皆さんの大好きなカフェについて、お互いに話し合いましょう♪
              </p>
          </div>
          <div class="col-sm-4">
          <img src="img/phone.png" class="w-100 rounded-circle">
          </div>
        </div>

      </div>
    </section>
    