@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

.jumbotron{ 
  background: url('beans.jpg');
  background-size: cover;
  height: 300px;
}

.btn_setting{
  text-decoration: none;
  color: white;
}

	.ellipsis {
	    position: relative;
	    height: 40px;
	    overflow: hidden;
      line-height: 20px;
  }

	.ellipsis:before, .ellipsis:after {

	    position: absolute;
      background: #fff;
  }
	.ellipsis:before {
	    content: "...";
	    bottom: 0;
	    right: 0;
	}
	 
	.ellipsis:after {
	    content: "";
	    width: 100%;
      height: 100%;
  }

  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    .form-signin-heading {
      margin-bottom: 10px;
    }
    .checkbox {
      margin-bottom: 10px;
      font-weight: normal;
    }
    .form-control {
      position: relative;
      height: auto;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px;
      font-size: 16px;
      &:focus {
        z-index: 2;
      }
    }
    input {
      margin-bottom: 10px;
    }
  }

.form-new{

  max-width: 500px;
    padding: 15px;
    margin: 0 auto;
    .form-signin-heading {
      margin-bottom: 10px;
    }
    .checkbox {
      margin-bottom: 10px;
      font-weight: normal;
    }
    .form-control {
      position: relative;
      height: auto;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px;
      font-size: 16px;
      &:focus {
        z-index: 2;
      }
    }
    input {
      margin-bottom: 10px;
    }

}

.balloon1-left {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  width: auto;
  color: #555;
  font-size: 16px;
  background: #e0edff;
}

.balloon1-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}

.balloon1-left p {
  margin: 0;
  padding: 0;
}


/* 吹き出し本体 */
.balloon1{
  position: relative;
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #0888ff;
  margin-left: 110px;          /* 左に余白を設ける */
}
/* 画像 - 絶対配置で左上に配置 */
.balloon1 .icon{
  position: absolute;
  left: -110px;
  top: 0;
}
/* 三角アイコン */
.balloon1::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -15px;
  top: 20px;
  border-right: 15px solid #0888ff;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

/* 吹き出し本体 */
.balloon2{
  position: relative;
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #0888ff;
  margin-right: 110px;          /* 右に余白を設ける */
}
/* 画像 - 絶対配置で右上に配置 */
.balloon2 .icon{
  position: absolute;
  right: -110px;
  top: 0;
op: 0;
}
/* 三角アイコン */
.balloon2::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  right: -15px;
  top: 20px;
  border-left: 15px solid #0888ff;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}


/* 吹き出し本体 */
.balloon{
  position: relative;
  padding: 20px;
  background-color: #bdffad;
  box-shadow: 0px 0px 10px 0px #a7a7a7;         /* 吹き出し本体の影 */
}
/* 三角アイコン */
.balloon::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 20px;
  top: -15px;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #bdffad;
  border-left: 15px solid transparent;
}



#sosyal {
  margin: 50px auto;
}
.facebook {
  background-color: #2e4a88;
  box-shadow: 0 4px 0 #1B3D82;
  text-shadow: 0 -1px -1px #1B3D82;

  color: white;
  border-radius: 5px;
 
}
.facebook:hover {
  background-color: #354F84;
}
.facebook:active {
  top: 2px;
    box-shadow: 0 2px 0 #1B3D82;
}
.twitter {
  background-color: #008DDE;
  box-shadow: 0 4px 0 #0078BD;
  text-shadow: 0 -1px -1px #1B3D82;

  color: white;
  border-radius: 5px;

}
.twitter:active {
  top: 2px;
    box-shadow: 0 2px 0 #0078BD;
}
.twitter:hover {
  background-color: #1397D8;
}
.line {
  background-color: #35de00;
  box-shadow: 0 4px 0 #2dc715;

  color: white;
  border-radius: 5px;
 
}
.line:active {
  top: 2px;
    box-shadow: 0 2px 0 #2dc715;
}
.line:hover {
  background-color: #35de00ed;
}
.slack {
  background-color: #9401ff;
  box-shadow: 0 4px 0 #720cb9;

  
  color: white;
  border-radius: 5px;
}
.slack:active {
  top: 2px;
    box-shadow: 0 2px 0 #720cb9;
}
.slack:hover {
  background-color: #9401ffe8;
}
